name: Example Workflow 09
on: [workflow_dispatch]
jobs:
  Test1:
    concurrency:
      group: demo
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - run: echo " This Job is automatically triggered by a ${{ github.event_name }} event."
      - run: sleep 10

  Test2:
    concurrency:
      group: demo
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - run: echo " This Job is automatically triggered by a ${{ github.event_name }} event."
      - run: sleep 5

  Test3:
    concurrency:
      group: demo
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - run: echo " This Job is automatically triggered by a ${{ github.event_name }} event."
      - run: sleep 10